:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  color: lightskyblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

/*Image container*/
.selected-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%; /* Adjust this value as needed */
  max-height: 90%; /* Adjust this value as needed */
  overflow: auto; /* Enable scrolling if content overflows */
  margin: auto; /* Center the div horizontally */
  padding: 20px; /* Add padding for better spacing */
}

.selected-image-container h2 {
  text-align: center;
}

.selected-image-container img {
  max-width: 100%;
  height: auto;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Container to hold the sidebar and main content */
.app-container {
  display: flex;
  height: 100vh; /* Full height of the window */
  width: 100vw; /* Full width of the window */
}

/* Sidebar*/
.side-bar {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #3a3f50; /* Discord-like dark background */
  color: rgb(78, 70, 70);
  padding: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main content styles */
.main-content {
  flex-grow: 1; /* Take up remaining space */
  background-color: #2c303d;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Selected image container */
.selected-image-container img {
  max-width: 100%;
  height: auto;
}

/* Button container in sidebar */
.button-container {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Space between buttons */
  width: 100%; /* Full width of the sidebar */
  margin: auto;
}
